html{
    height: 100%;
}

/* .firstpage {
    background-color: #d0cdcc;
} */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    font: "FiraCode";
    content: '';
    display: table;
    clear: both;
    /* background-color: rgb(192, 181, 181); */
}

.headercontainer {
    width: 80%;
    margin: 0 auto;
}

.icons {
    padding: 15px 0;
}

.pointer {
    cursor: pointer;
}

.headerleft {
    float: left;
    font-size: 35px;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.main {
    /* background-color: #c64f1f; */
    white-space: normal;
    overflow-wrap: break-word;
    height: 2000px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

section {
    /* background-color: #cccbca; */
    width: 20%;
    text-align: center;
    white-space: normal;
}

.profilepic {
    width: 100%;
    max-width: 300px;
}

section div {
    /* border: solid 2px; */
    padding: 10px;
    container-type: inline-size;
}

section div > h4 {
    font-size: 7cqi;
}

.contactinfo {
    container-type: inline-size;
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
}

.contactinfo > span {
    font-size: 7cqi;
}

.resume {
    padding: 40px;
}


button {
    background-color: #177452; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}


body section div + div {
    /* background-color: #a6a4a4; */
    /* border: solid red 2px; */
    padding: 10px;
    text-align: center;
    white-space: normal;
}

body section div + div span {
    display: block;
    text-align: center;
}

body section div + div span + span {
    display: block;
    text-align: center;
    color: rgb(189, 11, 11);
    font-weight: 600;
    padding: 5px;
}

.leftcolumn {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    height: 100%;
    /* border: solid green 2px; */
    cursor: auto;
    text-decoration: none;
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
    width: 20%;
}

.main {
    display: flex;
    flex-direction: row;
    height: 750px;
    background-color:   #c5a515;
    width: 100%;
    padding-top: 30px;
}

.namindejesus {
    padding-top: 30px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.about {
    /* border: solid blue 2px; */
    padding: 100px   ;
    text-align: center;
    white-space: normal;
    width: 80%;
    margin: 10px;
    /* padding-right: 200px; */
    /* background-color: #cccbca; */

}

.aboot {
    /* font-family: "Fugaz One", sans-serif; */
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
}

.paragraph2 {
    height: 800px;
    padding-bottom: 100px;
}

.paragraphtwotitle {
    font-size: 70px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    margin-top: 0;
    padding-top: 50px;
}

.travel {
    /* font-family: "Space Mono", monospace; */
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
    padding: 5% 20%;
    font-size: 20px;
    text-align: justify;
}

.education {
    background-color: rgb(47, 143, 47);
    height: 1000px;
    text-align: justify;
}

.paragraphthreetitle {
    padding: 50px;
    font-size: 70px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.saojudas {
    text-align: center;
    margin: 0 auto;
}

.education .textthree {
    text-align: center;
    width: 1200px;
    display: block;
    margin: 0 auto;
}

.judas {
    /* font-family: "Space Mono", monospace; */
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    padding: 5% 20%;
    font-size: 20px;
    text-align: justify;
}